# New York Motor Vehicle collisions

Source ............. https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95
Usage tips ......... https://dev.socrata.com/foundry/data.cityofnewyork.us/h9gi-nx95
More tips .......... https://dev.socrata.com/docs/queries/
geospatial.......... https://scitools.org.uk/cartopy/docs/latest/getting_started/index.html
ny geomap .......... https://geopandas.org/en/stable/gallery/plotting_basemap_background.html

## Setup

In [1]:
import requests
import pandas as pd
import numpy as np
import re

## Data acquision

### define functions to read data

In [2]:
# def read_api_chunk(api, limit=1000, offset=0):
#     source = f"{api}?${limit=}&${offset=}"
#     r = requests.get(source)
#     data = pd.DataFrame.from_dict(r.json()) # read directly from json instead? faster?
#     return data

# use https://docs.python.org/3/reference/expressions.html#yield-expressions

def read_api_chunk(api, limit=1000, offset=0):
    """ read a single chunk from the api
    """
    return pd.read_json(f"{api}?${limit=}&${offset=}")

def read_api(api, size=1000, chunk_size=1000):
    """ read given number of lines from api, applying the chunk_size along the way
    """
    chunk_generator = ( 
        # define chunks; the last chunk might be smaller than chunk_size
        read_api_chunk(api, limit=min(chunk_size, size - x), offset=x) 
        for x in range(0, size, chunk_size)
        )
        # in the generator expressions, the chunks are not yet read and stored in memory
        # the outer paranthesis are synctactilly required for generator expressions; they 
        # are not included simply in order to permit the multiline definition
    
    # pd.concat can handle generator expressions. According to the api reference, the objs argument
    # accepts a sequence of DataFrame objects. This indicates that any iterable that yields DataFrame
    # objects will be accepted, which is what chunk_generator provides. 
    return pd.concat(chunk_generator)

### inputs

In [26]:
api = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"
size = 12000
limit = 1000
# data = read_api(api, size=12500)
data_raw = read_api_chunk(api, limit=15000)

In [35]:
data_raw.head()
data_raw.columns
data = data_raw
data.rename(columns={"vehicle_type_code1":"vehicle_type_code_1", "vehicle_type_code2":"vehicle_type_code_2"}, inplace=True)
pd.wide_to_long(data, stubnames=["vehicle_type_code_", "contributing_factor_vehicle_"], i="collision_id", j="vehicle_no")

,,cross_street_name,off_street_name,number_of_cyclist_killed,number_of_cyclist_injured,zip_code,borough,number_of_persons_injured,number_of_motorist_injured,number_of_pedestrians_injured,number_of_motorist_killed,number_of_pedestrians_killed,crash_date,longitude,number_of_persons_killed,crash_time,on_street_name,location,latitude,vehicle_type_code_,contributing_factor_vehicle_
collision_id,vehicle_no,,,,,,,,,,,,,,,,,,,,
4455765,1,NaN,20 AVENUE,0,0,NaN,NaN,2,2,0,0,0,2021-09-11T00:00:00.000,NaN,0,2023-07-07 02:39:00,WHITESTONE EXPRESSWAY,NaN,NaN,Sedan,Aggressive Driving/Road Rage
4513547,1,NaN,NaN,0,0,NaN,NaN,1,1,0,0,0,2022-03-26T00:00:00.000,NaN,0,2023-07-07 11:45:00,QUEENSBORO BRIDGE UPPER,NaN,NaN,Sedan,Pavement Slippery
4541903,1,NaN,NaN,0,0,NaN,NaN,0,0,0,0,0,2022-06-29T00:00:00.000,NaN,0,2023-07-07 06:55:00,THROGS NECK BRIDGE,NaN,NaN,Sedan,Following Too Closely
4456314,1,1211 LORING AVENUE,NaN,0,0,11208.0,BROOKLYN,0,0,0,0,0,2021-09-11T00:00:00.000,-73.866500,0,2023-07-07 09:35:00,NaN,"{'latitude': '40.667202', 'longitude': '-73.86...",40.667202,Sedan,Unspecified
4486609,1,NaN,DECATUR STREET,0,0,11233.0,BROOKLYN,0,0,0,0,0,2021-12-14T00:00:00.000,-73.917274,0,2023-07-07 08:13:00,SARATOGA AVENUE,"{'latitude': '40.683304', 'longitude': '-73.91...",40.683304,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4546023,5,NaN,GOBLE PLACE,0,0,10452.0,BRONX,0,0,0,0,0,2022-07-04T00:00:00.000,-73.915450,0,2023-07-07 06:02:00,JEROME AVENUE,"{'latitude': '40.843365', 'longitude': '-73.91...",40.843365,NaN,NaN
4545630,5,NaN,LATHAM LANE,0,0,11434.0,QUEENS,0,0,0,0,0,2022-07-12T00:00:00.000,-73.773430,0,2023-07-07 11:10:00,NORTH CONDUIT AVENUE,"{'latitude': '40.668026', 'longitude': '-73.77...",40.668026,NaN,NaN
4545565,5,227 AVENUE OF THE AMERICAS,NaN,0,0,10014.0,MANHATTAN,1,0,1,0,0,2022-07-12T00:00:00.000,-74.003150,0,2023-07-07 08:57:00,NaN,"{'latitude': '40.727947', 'longitude': '-74.00...",40.727947,NaN,NaN
4545764,5,NaN,17 STREET,0,1,11215.0,BROOKLYN,1,0,0,0,0,2022-07-12T00:00:00.000,-73.993355,0,2023-07-07 16:13:00,4 AVENUE,"{'latitude': '40.66495', 'longitude': '-73.993...",40.664950,NaN,NaN
4545957,5,NaN,107 AVENUE,0,0,11417.0,QUEENS,0,0,0,0,0,2022-07-12T00:00:00.000,-73.848850,0,2023-07-07 13:30:00,89 STREET,"{'latitude': '40.67814', 'longitude': '-73.848...",40.678140,NaN,NaN

## EDA

### Cleaning

In [4]:
data.dtypes

crash_date                               object
crash_time                       datetime64[ns]
on_street_name                           object
off_street_name                          object
number_of_persons_injured                 int64
number_of_persons_killed                  int64
number_of_pedestrians_injured             int64
number_of_pedestrians_killed              int64
number_of_cyclist_injured                 int64
number_of_cyclist_killed                  int64
number_of_motorist_injured                int64
number_of_motorist_killed                 int64
contributing_factor_vehicle_1            object
contributing_factor_vehicle_2            object
collision_id                              int64
vehicle_type_code1                       object
vehicle_type_code2                       object
borough                                  object
zip_code                                float64
latitude                                float64
longitude                               float64
location                                 object
cross_street_name                        object
contributing_factor_vehicle_3            object
vehicle_type_code_3                      object
contributing_factor_vehicle_4            object
vehicle_type_code_4                      object
contributing_factor_vehicle_5            object
vehicle_type_code_5                      object
dtype: object

In [5]:
text_cols = [col for col in data if re.search("(street|contributing_factor)", col)]
data[text_cols] = data[text_cols].astype("string")
cols_contributing_factor = [col for col in data if re.match(r"^contributing_factor", col)]
# pd.Series(data.columns).astype("string").str.startswith("contributing")
# print(cols_contributing_factor)
# data.filter(regex=r"^vehicle", axis=1).isnull().sum(axis=1)
vehicle_type_cols = data.columns.to_series().filter(regex=r"^vehicle").to_list()
data["number_of_vehicles"] = len(vehicle_type_cols) - data[vehicle_type_cols].isnull().sum(axis=1)
contributing_factor_cols = data.columns.to_series().filter(regex=r"^contributing_factor").to_list()
data["number_of_contributing_factors"] = len(contributing_factor_cols) - data[contributing_factor_cols].isnull().sum(axis=1)

## Roads

on how to map categories, see here: https://stackoverflow.com/questions/62963350/how-to-categorize-a-column-with-regex-patterns
see also here: https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [6]:
data["on_street_name"].str.split(" ")

0           [WHITESTONE, EXPRESSWAY]
1        [QUEENSBORO, BRIDGE, UPPER]
2             [THROGS, NECK, BRIDGE]
3                               <NA>
4                 [SARATOGA, AVENUE]
                    ...
14995               [JEROME, AVENUE]
14996       [NORTH, CONDUIT, AVENUE]
14997                           <NA>
14998                    [4, AVENUE]
14999                   [89, STREET]
Name: on_street_name, Length: 15000, dtype: object

## Cyclists

### Injured Cyclists

In [7]:
data["number_of_cyclist_injured"].value_counts(dropna=True)
# data.head(10)

number_of_cyclist_injured
0    14331
1      660
2        9
Name: count, dtype: int64

### Contributing factors

In [8]:
# determine contributing factors
confac_ = pd.concat((data[col] for col in data if re.match("contributing_factor_vehicle", col)))
confac = confac_.drop_duplicates().dropna().to_frame(name="ContributingFactor")
# get dummies
# filter by number of involved vehicles
# add rolling count
# use mapping
# extract leading characters
def get_first_chars(input):
    """ retrieve first character of each word
    """
    return "".join(item[0].upper() for item in re.findall("\w+", input))

confac["CF"] = confac["ContributingFactor"].apply(get_first_chars)
confac["CFCount"] = confac.groupby(["CF"]).cumcount()
# confac.loc[confac["MnemoCount"] > 0, ["Mnemo", "MnemoCount"]]
confac.loc[confac["CFCount"] > 0, "CF"] = \
    confac.loc[confac["CFCount"] > 0, "CF"] + \
    confac.loc[confac["CFCount"] > 0, "CFCount"].astype("string")
confac.set_index("ContributingFactor", inplace=True)
confac_mapping = pd.Series(confac["CF"]).to_dict()

cf_cols = [
    re.sub('contributing_factor_vehicle_', 'CFV', col) 
    for col in contributing_factor_cols
    ]
data[cf_cols] = data[contributing_factor_cols].replace(confac_mapping)
# pd.get_dummies(data, columns=cf_cols)

In [22]:
data.filter(regex=r"^CF", axis=1)
# pd.get_dummies(data, columns=cf_cols).filter(regex=r"^CF", axis=1)
# use pd.wide_to_long

         CFV1  CFV2  CFV3  CFV4  CFV5
0        ADRR     U  <NA>  <NA>  <NA>
1          PS  <NA>  <NA>  <NA>  <NA>
2         FTC     U  <NA>  <NA>  <NA>
3           U  <NA>  <NA>  <NA>  <NA>
4        <NA>  <NA>  <NA>  <NA>  <NA>
...       ...   ...   ...   ...   ...
14995     DID   PTC  <NA>  <NA>  <NA>
14996     ULC     U  <NA>  <NA>  <NA>
14997  FTYROW  <NA>  <NA>  <NA>  <NA>
14998      DI    DI  <NA>  <NA>  <NA>
14999   POLUI     U  <NA>  <NA>  <NA>

[15000 rows x 5 columns]