# New York Motor Vehicle collisions

Source ............. https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95
Usage tips ......... https://dev.socrata.com/foundry/data.cityofnewyork.us/h9gi-nx95
More tips .......... https://dev.socrata.com/docs/queries/
geospatial.......... https://scitools.org.uk/cartopy/docs/latest/getting_started/index.html
ny geomap .......... https://geopandas.org/en/stable/gallery/plotting_basemap_background.html

## Setup

In [1]:
# import required libraries
import requests
import pandas as pd
import numpy as np
import re
import seaborn as sns

## Data acquision

### define functions to read data

In [2]:
# def read_api_chunk(api, limit=1000, offset=0):
#     source = f"{api}?${limit=}&${offset=}"
#     r = requests.get(source)
#     data = pd.DataFrame.from_dict(r.json()) # read directly from json instead? faster?
#     return data

# use https://docs.python.org/3/reference/expressions.html#yield-expressions


def read_api_chunk(api, limit=1000, offset=0):
    """read a single chunk from the api"""
    return pd.read_json(f"{api}?${limit=}&${offset=}")


def read_api(api, size=1000, chunk_size=1000):
    """read given number of lines from api, applying the chunk_size along the way"""
    chunk_generator = (
        # define chunks; the last chunk might be smaller than chunk_size
        read_api_chunk(api, limit=min(chunk_size, size - x), offset=x)
        for x in range(0, size, chunk_size)
    )
    # in the generator expressions, the chunks are not yet read and stored in memory
    # the outer paranthesis are synctactilly required for generator expressions; they
    # are not included simply in order to permit the multiline definition

    # pd.concat can handle generator expressions. According to the api reference, the objs argument
    # accepts a sequence of DataFrame objects. This indicates that any iterable that yields DataFrame
    # objects will be accepted, which is what chunk_generator provides.
    return pd.concat(chunk_generator)

### inputs

In [3]:
# set input parameters
api = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"
n = 50e3
# limit = 1000

### read data

In [4]:
# read data
data_raw = read_api_chunk(api, limit=int(n))

In [5]:
# initial cleaning of data
data = data_raw.rename(
    columns={
        "vehicle_type_code1": "vehicle_type_code_1",
        "vehicle_type_code2": "vehicle_type_code_2",
    }
)
data.set_index(keys="collision_id", drop=False, inplace=True)
text_cols = [col for col in data if re.search("(street|contributing_factor)", col)]
data[text_cols] = data[text_cols].astype("string")

In [6]:
# format data to cover 5 vehicles in one column
data_wide = pd.wide_to_long(
    data,
    stubnames=["vehicle_type_code_", "contributing_factor_vehicle_"],
    i="collision_id",
    j="vehicle_no",
)
data_wide.rename(
    columns={
        "vehicle_type_code_": "vehicle_type_code",
        "contributing_factor_vehicle_": "contributing_factor_vehicle",
    },
    inplace=True,
)

# keep rows for vehicle no. > 1 only if relevant information pertaining to the vehicle is present; the row is redundant otherwise
_cnd1 = (
    data_wide[["vehicle_type_code", "contributing_factor_vehicle"]]
    .notnull()
    .any(axis=1)
)
_cnd2 = data_wide.index.get_level_values(level=1) == 1
_cnd = _cnd1 | _cnd2
data_wide = data_wide.loc[_cnd, :]
# data_wide.dtypes
data_wide.to_csv("data_wide.csv")

#### contributing Factors

In [7]:
# create a mapping for contributing factor to their code
confac = (
    data_wide["contributing_factor_vehicle"]
    .drop_duplicates()
    .dropna()
    .reset_index(drop=True)
    .to_frame(name="contributing_factor")
)


def get_first_chars(input):
    """retrieve first character of each word in a string of words"""
    return "".join(item[0].upper() for item in re.findall("\w+", input))


confac["cf"] = confac["contributing_factor"].apply(get_first_chars)
confac["n"] = confac.groupby(["cf"]).cumcount()
k = confac["n"] > 0
confac.loc[k, "cf"] = confac.loc[k, "cf"] + confac.loc[k, "n"].astype("string")
confac.set_index("contributing_factor", inplace=True)
confac_cols = "cf." + confac["cf"]
mapping_cf = pd.Series(confac["cf"]).to_dict()

In [8]:
# determine dummies grouped by collision_id
data_wide["cf"] = data_wide["contributing_factor_vehicle"].replace(mapping_cf)
dummies_cf_long = pd.get_dummies(data_wide, columns=["cf"], prefix_sep=".")
dummies_cf = dummies_cf_long[confac_cols].groupby(level=0).max()
dummies_cf["n_vehicles"] = dummies_cf.sum(axis=1)
dummies_cf.head()

,cf.ADRR,cf.PS,cf.FTC,cf.U,cf.PTC,cf.DI,cf.POLUI,cf.TI,cf.ULC,cf.US,...,cf.OED,cf.TCDINW,cf.THD,cf.WI,cf.VV,cf.PM,cf.SDI,cf.LUH,cf.T,n_vehicles
collision_id,,,,,,,,,,,,,,,,,,,,,
3456194,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
3460534,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
3528065,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2
4136992,False,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,2
4277087,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2

#### vehicle types

In [9]:
vehicle_type_codes = data_wide["vehicle_type_code"].astype("string").dropna()

In [10]:
# limit number of vehicle categories
# https://stackoverflow.com/questions/56440580/how-to-get-dummies-of-only-those-values-that-occur-more-than-x-time-in-pandas
v_cats = data_wide["vehicle_type_code"].value_counts().head(30)
# data_wide["vehicle_type_code"].str.replace(pat=r'\W+', repl="_", regex=True).value_counts().head(30)
data_wide["vehicle_cats"] = data_wide["vehicle_type_code"].str.replace(pat=r'\W+', repl="_", regex=True).str.lower()
data_wide["vehicle_cats"].nunique()

274

In [11]:
# reduce to top 50 most frequent types of cars. last category is set to "other"
top = 50
vehicle_top_cats = data_wide["vehicle_cats"].value_counts().head(top - 1).index
data_wide["vehicle_cats_short"] = data_wide["vehicle_cats"]

data_wide.loc[
    ~data_wide["vehicle_cats"].isin(vehicle_top_cats)
    & ~data_wide["vehicle_cats"].isna(),
    ["vehicle_cats_short"],
] = "other"

data_wide["vehicle_cats_short"] = data_wide["vehicle_cats_short"].astype("category")

data_wide["vehicle_cats_short"].value_counts()

vehicle_cats_short
sedan                                  41998
station_wagon_sport_utility_vehicle    30456
bike                                    2484
box_truck                               1950
pick_up_truck                           1933
taxi                                    1796
bus                                     1549
e_bike                                  1110
motorcycle                               859
tractor_truck_diesel                     723
van                                      590
e_scooter                                567
ambulance                                540
other                                    430
moped                                    332
dump                                     329
pk                                       206
convertible                              179
flat_bed                                 168
garbage_or_refuse                        164
carry_all                                145
motorbike                                129
motorscooter                             129
tow_truck_wrecker                        127
tractor_truck_gasoline                    85
chassis_cab                               58
4_dr_sedan                                55
tanker                                    47
fire_truck                                42
3_door                                    34
concrete_mixer                            31
refrigerated_van                          28
limo                                      26
tow_truck                                 26
unknown                                   24
trailer                                   24
armored_truck                             22
scooter                                   22
flat_rack                                 21
firetruck                                 20
beverage_truck                            20
unk                                       19
multi_wheeled_vehicle                     19
open_body                                 18
school_bus                                18
stake_or_rack                             16
lift_boom                                 14
truck                                     11
pedicab                                   11
commercial                                10
Name: count, dtype: int64

In [20]:
# split data
from sklearn.model_selection import train_test_split
data_cf = data.join(dummies_cf)
data2 = data[["number_of_persons_injured"]].join(dummies_cf)
X = data2.filter(regex=r"^cf\.", axis=1)
y = data2["number_of_persons_injured"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [21]:
# test ridge classifier
from sklearn.linear_model import RidgeClassifier
ridge = RidgeClassifier()

cf_estimator = ridge.fit(X_train, y_train)
cf_estimator.score(X_test, y_test)

0.67968

In [26]:
# test random tree classifier
from sklearn.ensemble import RandomForestClassifier
clf_rfc = RandomForestClassifier(n_estimators=10)
clf_rfc = clf_rfc.fit(X_train, y_train)
clf_rfc.score(X_test, y_test)

0.68504

vectorizer = CountVectorizer()
X = vectorizer.fit_transform(vehicle_type_codes)
vectorizer.get_feature_names_out()

def classify_cars(text):
    if "sedan" in text.lower():
        return "Sedan"
    if "truck" in text.lower() or "dump" in text.lower():
        return "Truck"
    if "sport utility vehicle" in text.lower():
        return "SUV"
    if "van" in text.lower() or "sprinter" in text.lower():
        return "Van"
    if "bike" in text.lower():
        return "Bike"
    if "taxi" in text.lower():
        return "Taxi"
    if text in ["Bike", "Motorcycle", "Bus", "E-Scooter", "Ambulance"] :
        return text
    return "other"

car_mapping = {
    "sedan": "Sedan",
    "truck": ["Truck", "Dump", "Garbage or Refuse"]
}

# data_wide["vehicle_type_cat"] = data_wide["vehicle_type_code"].astype("str").apply(classify_cars)

cols_contributing_factor = [
    col for col in data if re.match(r"^contributing_factor", col)
]
# pd.Series(data.columns).astype("string").str.startswith("contributing")
# print(cols_contributing_factor)
# data.filter(regex=r"^vehicle", axis=1).isnull().sum(axis=1)
vehicle_type_cols = data.columns.to_series().filter(regex=r"^vehicle").to_list()
data["number_of_vehicles"] = len(vehicle_type_cols) - data[
    vehicle_type_cols
].isnull().sum(axis=1)
contributing_factor_cols = (
    data.columns.to_series().filter(regex=r"^contributing_factor").to_list()
)
data["number_of_contributing_factors"] = len(contributing_factor_cols) - data[
    contributing_factor_cols
].isnull().sum(axis=1)

## Roads

on how to map categories, see here: https://stackoverflow.com/questions/62963350/how-to-categorize-a-column-with-regex-patterns
see also here: https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [16]:
# data["on_street_name"].str.split(" ")

## Cyclists

### Injured Cyclists

In [17]:
data["number_of_cyclist_injured"].value_counts(dropna=True)
# data.head(10)

number_of_cyclist_injured
0    47716
1     2251
2       31
3        2
Name: count, dtype: int64

### Contributing factors

# determine contributing factors
confac_ = pd.concat(
    (data[col] for col in data if re.match("contributing_factor_vehicle", col))
)
confac = confac_.drop_duplicates().dropna().to_frame(name="ContributingFactor")


# get dummies
# filter by number of involved vehicles
# add rolling count
# use mapping
# extract leading characters
def get_first_chars(input):
    """retrieve first character of each word"""
    return "".join(item[0].upper() for item in re.findall("\w+", input))


confac["CF"] = confac["ContributingFactor"].apply(get_first_chars)
confac["CFCount"] = confac.groupby(["CF"]).cumcount()
# confac.loc[confac["MnemoCount"] > 0, ["Mnemo", "MnemoCount"]]
confac.loc[confac["CFCount"] > 0, "CF"] = confac.loc[
    confac["CFCount"] > 0, "CF"
] + confac.loc[confac["CFCount"] > 0, "CFCount"].astype("string")
confac.set_index("ContributingFactor", inplace=True)
confac_mapping = pd.Series(confac["CF"]).to_dict()

cf_cols = [
    re.sub("contributing_factor_vehicle_", "CFV", col)
    for col in contributing_factor_cols
]
data[cf_cols] = data[contributing_factor_cols].replace(confac_mapping)
# pd.get_dummies(data, columns=cf_cols)

data.filter(regex=r"^CF", axis=1)
# pd.get_dummies(data, columns=cf_cols).filter(regex=r"^CF", axis=1)
# use pd.wide_to_long