# New York Motor Vehicle collisions

Source ............. https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95
Usage tips ......... https://dev.socrata.com/foundry/data.cityofnewyork.us/h9gi-nx95
More tips .......... https://dev.socrata.com/docs/queries/

## Setup

In [58]:
import requests
import pandas as pd
import numpy as np

In [64]:
# def read_api_chunk(api, limit=1000, offset=0):
#     source = f"{api}?${limit=}&${offset=}"
#     r = requests.get(source)
#     data = pd.DataFrame.from_dict(r.json()) # read directly from json instead? faster?
#     return data

# use https://docs.python.org/3/reference/expressions.html#yield-expressions

def read_api_chunk(api, limit=1000, offset=0):
    """ read a single chunk from the api
    """
    return pd.read_json(f"{api}?${limit=}&${offset=}")

def read_api(api, size=1000, chunk_size=1000):
    """ read given number of lines from api, applying the chunk_size along the way
    """
    chunk_generator = ( 
        # define chunks; the last chunk might be smaller than chunk_size
        read_api_chunk(api, limit=min(chunk_size, size - x), offset=x) 
        for x in range(0, size, chunk_size)
        )
        # in the generator expressions, the chunks are not yet read and stored in memory
    return pd.concat(chunk_generator) # pd.concat can handle generator expressions

In [65]:
api = "https://data.cityofnewyork.us/resource/h9gi-nx95.json"

In [66]:
size = 10100
limit = 1000
data = read_api(api, size=12500)

In [68]:
data

,crash_date,crash_time,on_street_name,off_street_name,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,latitude,longitude,location,cross_street_name,contributing_factor_vehicle_3,vehicle_type_code_3,contributing_factor_vehicle_4,vehicle_type_code_4,contributing_factor_vehicle_5,vehicle_type_code_5
0,2021-09-11T00:00:00.000,2023-06-18 02:39:00,WHITESTONE EXPRESSWAY,20 AVENUE,2,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,2023-06-18 11:45:00,QUEENSBORO BRIDGE UPPER,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-06-29T00:00:00.000,2023-06-18 06:55:00,THROGS NECK BRIDGE,NaN,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-11T00:00:00.000,2023-06-18 09:35:00,NaN,NaN,0,0,0,0,0,0,...,40.667202,-73.866500,"{'latitude': '40.667202', 'longitude': '-73.86...",1211 LORING AVENUE,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-14T00:00:00.000,2023-06-18 08:13:00,SARATOGA AVENUE,DECATUR STREET,0,0,0,0,0,0,...,40.683304,-73.917274,"{'latitude': '40.683304', 'longitude': '-73.91...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2021-09-20T00:00:00.000,2023-06-18 12:40:00,NaN,NaN,0,0,0,0,0,0,...,40.753906,-73.993570,"{'latitude': '40.753906', 'longitude': '-73.99...",330 WEST 36 STREET,NaN,NaN,NaN,NaN,NaN,NaN
496,2021-09-20T00:00:00.000,2023-06-18 13:48:00,MARTIN LUTHER KING JR,NaN,1,0,0,0,0,0,...,40.630486,-74.145950,"{'latitude': '40.630486', 'longitude': '-74.14...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,2021-08-21T00:00:00.000,2023-06-18 14:05:00,NaN,NaN,1,0,0,0,0,0,...,40.683414,-73.966545,"{'latitude': '40.683414', 'longitude': '-73.96...",915 FULTON STREET,NaN,NaN,NaN,NaN,NaN,NaN
498,2021-09-20T00:00:00.000,2023-06-18 12:30:00,NaN,NaN,0,0,0,0,0,0,...,40.751480,-73.976170,"{'latitude': '40.75148', 'longitude': '-73.976...",120 EAST 42 STREET,NaN,NaN,NaN,NaN,NaN,NaN
499,2021-09-20T00:00:00.000,2023-06-18 09:20:00,THROOP AVENUE,NaN,1,0,0,0,0,0,...,40.685028,-73.941350,"{'latitude': '40.685028', 'longitude': '-73.94...",NaN,NaN,NaN,NaN,NaN,NaN,NaN